
.reveal img.logo {
	margin: 0 0 0 0;
	border: none;
	box-shadow: none;
}

.reveal .clients td {
	text-align: center;
}

.reveal .clients img {
	width: 230px;
	height: 154px;
	margin: 10px 0;
}

.reveal .linux-install th {
	text-align: right;
	border-right: 2px #7f7f7f solid;
	padding-right: 0.5em;
}

.reveal .linux-install td {
	font-family: monospace;
	padding-left: 0.5em;
}
v
